
<FluentCard>
    <FluentStack>
        <div><FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size24.PersonChat())" /></div>
        <div>
            <span>
                @UserMessage
            </span>
        </div>
    </FluentStack>
</FluentCard>
<FluentSpacer />
<FluentCard MinimalStyle="true">
    <FluentStack>
        <div>
            <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size24.LightbulbPerson())" />
            @* <FluentProgressRing Style="height:24px; width:24px; position:absolute; top:0px; left:0px;"></FluentProgressRing> *@
        </div>
        <div>
            <span>
                @GetHtmlFromMD(AgentResponse)
            </span>
        </div>
    </FluentStack>
</FluentCard>